<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Derived Product 2 Suite">
    <test name="DP2">
        <parameter name="browser" value="firefox"/>
        <parameter name="url" value="dp2url"/>
        <classes>
            <class name="com.company.tests.DP2Test"/>
        </classes>
    </test>
</suite>
